<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="c80f9376-65cd-4b48-96a6-4fdca3f6b0e2"
            Publisher="CN=markrui"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>chat</DisplayName>
    <PublisherDisplayName>markrui</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="chat.App">
        <VisualElements
            DisplayName="chat"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="chat"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>